@charset "UTF-08";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
/*cores: #A34F3E
#F5BB4C*/
body{
    background-color: #f5bb4c;
    position: relative;
    width: 100vw;
    height: 100vh;
}
section{
    display: block;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 570px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 1px 0px 12px rgba(0, 0, 0, 0.438);
    transform: translate(-50%, -50%);
    transition-duration: 0.5s;
}
div#imagem{
    display: block;
    width: 100%;
    height: 50%;
    background: black url(../imagens/cadeadom.jpg) no-repeat center bottom;
}
div#formulario{
    background-image: linear-gradient(to top, white, rgb(231, 209, 168));
}
div#formulario > h1{
    text-align: center;
    font-weight: bolder;
    font-size: 1.7em;
    padding: 5px;
    color: #a34f3e;
}
div#formulario > p{
    text-align: justify;
    font-size: 1em;
    padding: 5px;
    color: #a34f3e;
}
div.campo{
    border: none;
    background-color: #a34f3e;
    height: 48px;
    border-radius: 10px;
    margin: 5px 0px;
}
div.campo:focus-within{
    background-color: #f5bb4c;
}
div.campo > label{
    display: none;
}
div.campo > i{
    height: 90%;
    color: white;
    font-size: 2em;
}
div.campo > input{
    background-color: rgb(231, 209, 168);
    height: 70%;
    border: none;
    border-radius: 10px;
    transform: translateY(-5px);
}
form > input[type=submit]{
    display: block;
    margin: auto;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: #a34f3e;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
}
form > a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #a34f3e;
}
form > a:hover{
    text-decoration: underline;
    font-weight: bolder;
}
